@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./app/theme/styles/base";
@import "./app/theme/styles/theme";
// @import '~@ngx-share/button/themes/default/default-theme';
// @import '~@ngx-share/button/themes/material/material-dark-theme';
// @import '~@ngx-share/button/themes/material/material-light-theme';
// @import '~@ngx-share/button/themes/circles/circles-dark-theme';
// @import '~@ngx-share/button/themes/modern/modern-light-theme';
// @import '~@ngx-share/button/themes/outline/outline-theme';
html, body { height: 100%; }


@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/quicksand-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-500 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/quicksand-v21-latin-500.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/quicksand-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/quicksand-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/quicksand-v21-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-600 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/quicksand-v21-latin-600.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/quicksand-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/quicksand-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/quicksand-v21-latin-600.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  /* quicksand-700 - latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/quicksand-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
  }
  body { 
       margin: 0; 
       font: 500 14px 'Quicksand',sans-serif !important; 
       color: #113c55 !important;
     }


button {
     &:focus {
          outline: none !important;
     }
}
