<div class="grid-container">
    <h1 class="mat-h1 d-flex align-items-center h1-font-weight"><mat-icon class="mr-2">phone</mat-icon> Contact Us</h1>

    <div>
        <div class="pop-up-container">
          <div class="pop-up-container-vertical">
            <div class="pop-up-wrapper">
              <div class="go-back" >
              </div>
              <div class="product-details">
                <div class="product-left">
                  <div class="product-info">
                    <div class="product-title">
                     7' O Clock Exports
                    </div>
                  </div>
                  <div class="product-image">
                    <img src="../../../../assets/images/7Logo.png" />
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-description">
                    <div class="product-title">
                       Surendar.S
                       </div>
                       <div>
                           <span>Managing Director</span>
                       </div>
                  </div>
                  <div class="product-available d-flex">
                    <div>
                        <img src="../../../../assets/images/location.png" class="mat-image">
                    </div>
                    <div class="ml-3 d-block">
                      <div class="mb-1">
                        <span class="word-break">230/3B1A Srinivasa Gardens</span>
                      </div>
                      <div class="mb-1">
                        <span class="word-break">NH85 Theni to Bodi Main Road</span>
                      </div>
                      <div class="mb-1">
                        <span class="word-break">B.Meenavilakku,Bodinayakkanur</span>
                      </div>
                      <div class="mb-1">
                        <span class="word-break">Theni Dist-625513</span>
                      </div>
                    </div>
                  </div>
                  <div class="product-available d-flex align-items-center">
                    <div>
                      <mat-icon class="mat-icon-color">phone_iphone</mat-icon>
                    </div>
                    <div class="ml-3 d-block">
                      <div class="mb-1">
                        <span>7200000911</span>
                      </div>
                    </div>
                  </div>
                  <div class="product-available d-flex align-items-center mb-3">
                    <div>
                      <mat-icon class="mat-icon-color">mail</mat-icon>
                    </div>
                    <div class="ml-3 d-block">
                      <div class="mb-1">
                        <span class="word-break">sevenoclockexports@gmail.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-bottom">
                  <div class="product-checkout">
                    <div class="d-flex align-items-center">
                      <mat-icon class="globe-color">public</mat-icon>
                      <span class="ml-2 cursor word-break">www.7oclockexports.com</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
